/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}
#welcome{
    background: url(../assets/pics/woman2.jpg) center center no-repeat;
    background-size: cover;

}

#welcome > div {
 background-color: rgba(255,255,255,0.3);
}

#idSearch{
    width:100%;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #cce6ff;
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

