<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Frequently Asked Questions</small>
            </h1>
        </div>

    </div>
    <uib-accordion>
    <div uib-accordion-group class="panel-default" heading="When Can You Start">
      Immediately
    </div>
    <div uib-accordion-group class="panel-default" heading="Describe your two latest accomplishments at your last 2 employers" >
      <ul>
        <li> Optimizing server code.</li>
        <li> Building beautiful and fast reacting client side from scratch. </li>
      </ul>
    </div>

     <div uib-accordion-group class="panel-default" heading="Where do you see yourself in a group?" >
         <p>
            I am defiantly a team player.<br>
            Love to cooperate and share my skills to help the group reach its goal. 
        </p>
    </div>
  </uib-accordion>
  
</div>
<!-- /.container -->