
<div class="home-page">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-mobile"></i> Responsive</h3>
                    <h4>with the help of bootstrap</h4>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-cogs"></i>Implements MVC</h3>
                      <h4>with the help of Angular</h4>
                    <p>
                       consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-heart"></i> lorem ipsum dolor sit amet</h3>
                    <p>
                        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </p>                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored text-center" id="welcome">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Welcome to my site</h2>
                        <p>A responsive website featuring single page templates and Bootstrap</p>
                        <hr>
                    </div>
                </div>
                  <!-- /.row -->

            </div>
        <!-- /.container -->

        </div>

    </div>
    <!-- /.section-colored -->
</div>
