<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">My Skills</h1>
        </div>

    </div>
     <div class="row">
        <div class="col-md-8">
           <h4>Front-end</h4>
        </div>
    </div>
      <div class="row">
        <div class="col-md-8">
            <canvas id="bar" class="chart chart-bar" chart-data="frontData" chart-labels="frontLabels"  
            chart-options="options">
            </canvas>
        </div>
    </div>

     <div class="row">
        <div class="col-md-8">
           <h4>Back-end</h4>
        </div>
    </div>
      <div class="row">
        <div class="col-md-8">
            <canvas id="bar" class="chart chart-bar" chart-data="backData" chart-labels="backLabels"  
            chart-options="options">
            </canvas>
        </div>
    </div>
</div>